PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=""

# m h dom mon dow     command
# ============================================================================
6  5 * * 7   logrotate /etc/logrotate.conf
